/*Common Css Start*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul,li{
    list-style-type: none;
}

.container{
    width: 1170px;
    margin: 0 auto;
}
/*Common Css End*/


/*Team Work Part Start*/
.team_work{
    
    width: 100%;
    background: rgb(255, 251, 251);
    
}
.top_text{
    text-align: center;
}

.top_text h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-top: 30px;
    text-transform: uppercase;
}

.top_text p{
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}

.work_item{
    height: 400px;
    width: 250px;
    background: white;
    border-radius: 32px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.item_photo img{
    height: 220px;
    width: 220px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 30px;
}


.item_top_text{
    text-align: center;
}

.item_top_text h3{
    padding-top: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.item_top_text p{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

.item_btn{
    text-align: center;
    margin-top: 30px;
    color: white;
}

.item_btn a{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    background: red;
    cursor: pointer;
}


/*Team Work Part End*/


/*Counter Up Part Start*/

/*Counter Up Part End*/

